<div class="container-fluid padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4">Chat page</h1>
			<hr>

			<nav class="navbar navbar-expand-md navbar-light bg-primary" id="nav-people">
				<div class="container-fluid">
					<div class="collapse navbar-collapse col-lg-6" id="chatNav">

						<ul class="navbar-nav ml-auto">
							<% for(var i = 0; i < users.length; i++) { %>
	  						<li style="margin-right: 10px; text-align: center;">
								<form action="chat" method="post">
									<button type="submit" name="id" value="<%= users[i].user_id %>"><%= users[i].user_name %></button>
								</form>
							</li>
	  						<% } %>
						</ul>

					</div>
				</div>
			</nav>



			<script>
			(function(t,a,l,k,j,s){
			s=a.createElement('script');s.async=1;s.src="https://cdn.talkjs.com/talk.js";a.head.appendChild(s)
			;k=t.Promise;t.Talk={v:1,ready:{then:function(f){if(k)return new k(function(r,e){l.push([f,r,e])});l
			.push([f])},catch:function(){return k&&new k()},c:l}};})(window,document,[]);
			</script>

			<!-- container element in which TalkJS will display a chat UI -->
			<div id="talkjs-container" style="width: 90%; margin: 30px; height: 500px"><i>Loading chat...</i></div>

			<!-- TalkJS initialization code, which we'll customize in the next steps -->
			<script>
			var me_id = "<%= u_id %>";
			var me_name = "<%= u_name %>";
			var me_email = "<%= u_email %>";
			var other_id, other_name, other_email;
			if(<%= u_id %> == <%= other.user_id %>) {
				other_id = "1";
				other_name = "Sebastian";
				other_email = "Sebastian@example.com";
			} else {
				other_id = "<%= other.user_id %>";
				other_name = "<%= other.user_name %>";
				other_email = "<%= other.user_email %>";
			}

			Talk.ready.then(function() {
				var me = new Talk.User({
					id: me_id,
					name: me_name,
					email: me_email,
					welcomeMessage: "Hey there! How are you? :-)"
				});
				window.talkSession = new Talk.Session({
					appId: "tco6J1V4",
					me: me
				});
				var other = new Talk.User({
					id: other_id,
					name: other_name,
					email: other_email,
					photoUrl: "https://demo.talkjs.com/img/sebastian.jpg",
					welcomeMessage: "Hey, how can I help?"
				});

				var conversation = talkSession.getOrCreateConversation(Talk.oneOnOneId(me, other))
				conversation.setParticipant(me);
				conversation.setParticipant(other);
				var inbox = talkSession.createInbox({selected: conversation});
				inbox.mount(document.getElementById("talkjs-container"));
			});
			</script>
		</div>
	</div>
</div>
