
<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">Welcome to QUT's multilingual noticeboard!</h1>
      <hr/>

      <div>
        <p class="lead">
          This is a multilingual noticeboard created by team WeCAN
          for our Capstone Project. We aim to make a noticeboard to support any type
          of plugin and provde the user of the site with a manual of how to use it
          them selves.
          <% if(!logged_in) { %>
              <span><a href="/login">Log in</a> to create your own noticeboard posts!</span>
          <% } %>
        </p>

      </div>
      <% if(logged_in) { %>
      <button type="button" class="open-button fa fa-plus fa-2x" onclick="openForm()"></button>
      <% } %>


      <div class="form-popup" id="createNoticeboardPost" style="width: 50%;">
        <form class="form-container" style="width:100%;" method="POST" action="newvid">
          <h1>Write on the noticeboard</h1>
          <div class="column">
            <div class="row">
              <label for="email"><b>Topic</b></label>
            </div>
            <div class="row">
              <input type="text" name="topic" id="postTopic" required="" />
					  </div>
            <div class="row">
              <label for="content"><b>Content</b></label>
            </div>
            <div class="row">
              <input type="text" name="content" id="postContent" required="" />
					  </div>
            <div class="row" style="float: right;">
              <button type="submit" class="btn-primary" value="Click here to submit your post">Post</button>
              <button type="submit" class="btn-grey" onclick="closeForm()">Close</button>
            </div>
          </div>
        </form>
      </div>
      <script>
        function openForm() {
        document.getElementById("createNoticeboardPost").style.display = "block";
        }
        function closeForm() {
        document.getElementById("createNoticeboardPost").style.display = "none";
        }
      </script>

      <% if(logged_in) { %>
      <div id="tabsView">
        <ul class="nav nav-tabs justify-content-center">
          <li class="nav-item active" id="featuredPosts" action="getFeatured" method="GET">
            <a class="nav-link active">Featured</a>
          </li>
          <li class="nav-item" id="allPosts" action="getAll">
            <a class="nav-link" href="#">The noticeboard</a>
          </li>
        </ul>
      </div> <!-- tabs view-->
      <% } %>

      <div>
        <div class="col-12 px-5" id="featuredPostsView">

        </div>
        <div class="col-12 px-5" id="allPostsView">

          <% for(var i=0; i < posts.length; i++) { %>
          <div class="card-group text-center" onclick="showPost('showMore<%= (i+1) %>')">
            <div class="card col-lg-1" style="background-color:lightgrey">
                <% if(posts[i].user_gender == "Male") { %>
                  <img src="img/male-std-profile.png" id="profileImg" />
                <% } else { %>
                  <img src="img/female-std-profile.png" id="profileImg" />
                <% } %>
                <p><%= posts[i].user_name %></p>
            </div>
            <div class="card col-lg-11" style="padding: 0">
                <div class="card-header bg-primary text-center text-white">
                  <p><%= posts[i].post_topic %><p>
                </div>
                <div class="card-body">
                    <p><%= posts[i].post_content %></p>
                    <% if(posts[i].user_id == u_id) { %>
                        <button class="btn fa fa-edit pull-right" type="button" id="editPost"></button>
                    <% } %>
                    <span id="showMore<%= (i+1) %>" style="display: none;">
                      Heeeeellooooooooo
                    </span>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function showPost(ident) {
    var moreText = document.getElementById(ident);
    console.log(ident);
    if (moreText.style.display === "none") {
      moreText.style.display = "none";
    } else {
      moreText.style.display = "inline";
    }
  }
</script>
