<div class="card col-lg-6 justify-content-center" id="profileCard">
    <div class="card-header">
        <h3><%= user_data[0].user_name %> <%= user_data[0].user_last_name %></h3>
    </div>
    <div class="card-body">
        <div class="row">Email address: <%= user_data[0].user_email %></div>
        <div class="row">State: <%= user_data[0].user_state %></div>
        <div class="row">Phone number: <%= user_data[0].user_phone %></div>
    </div>
</div>
